/.idea
/*.iml
.DS_Store
/ACal/*.iml
/ACal/.gradle
/ACal/local.properties
/ACal/.idea/workspace.xml
/ACal/.idea/libraries
/ACal/.idea
/ACal/app/build
/ACal/.DS_Store
/ACal/build
/ACal/captures

/server/target
/server/*.iml
/server/dependency-reduced-pom.xml