/.idea
/*.iml
.DS_Store
.project
/app/*.iml
/.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea

/app/build/*
/app/build/outputs
/app/build/outputs/*
/app/build/outputs/apk

/projectFilesBackup*
/build
/captures

/server/target
/server/*.iml
/server/dependency-reduced-pom.xml
/server/.idea/
