language: android
android:
  components:
    - platform-tools
    - tools
    - tools
    - build-tools-23.0.3
    - android-23
    - extra

#  licenses:
#    - 'android-sdk-license.*'

jdk: oraclejdk8

before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

before_install:
  # Gradle
  - wget http://services.gradle.org/distributions/gradle-2.14.1-bin.zip
  - unzip -n gradle-2.14.1-bin.zip
  - export GRADLE_HOME=$PWD/gradle-2.14.1
  - export PATH=$GRADLE_HOME/bin:$PATH

script:
  - gradle clean build
